/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('./sass/Lato2OFLWeb/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('./sass/Lato2OFLWeb/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./sass/Lato2OFLWeb/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('./sass/Lato2OFLWeb/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('./sass/Lato2OFLWeb/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
$basicFontSize: 5rem;