body{
    font-family: LatoWebLight, Calibri, sans-serif;
    
}
.title {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
    font-size: $basicFontSize;
    }
}

.space {
    width: 1%;
}

.skewL:hover {
    -ms-transform: skewX(25deg); /*IE9*/
    -webkit-transform: skewX(25deg); /*Safari*/
    transform: skewX(25deg);
}

.skewR:hover {
    -ms-transform: skewX(145deg);
    -webkit-transform: skewX(145deg);
    transform: skewX(145deg);
}
 
@keyframes rotationMove {
    from {left:0px;}
    to {left: 20px}
}

.rotate:hover {
    position: relative;
    animation-name: rotationMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: rotate(359deg);
}